@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* reset.css */

html{ font-size:24px; }
body{ 
    margin:0; 
    font-family: 'Inter', sans-serif; 
    color:#5E452D;
}
h1,h2,h3{
    font-family: 'Prociono', serif;
}

h1,h2,h3,p,figure{ margin:0 }
ul,li{ margin:0; padding:0; list-style: none;  }
img{ vertical-align: middle; }
a{ text-decoration: none;  color:#5E452D; }


*{ box-sizing: border-box; }

.btn-view{
    font-size:32px;
    text-decoration: underline;
}